@keyframes float {
  0% {
    transform: translateY(100vh) scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-10vh) scale(1);
    opacity: 0;
  }
}
body {
  background-color: rgb(255, 206, 214);
  overflow: hidden;
  height: 100vh;
  margin: 0;
}

.hearts-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.heart {
  position: absolute;
  width: 1500px;
  height: 1500px;
  background-image: url("https://i.pinimg.com/originals/1d/50/75/1d5075419e06e9dd9e9a8e5a0d1935b4.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  animation: float 5s linear infinite;
}

.heart:nth-child(1) {
  left: 98%;
  animation-delay: 3s;
  animation-duration: 8s;
  width: 15px;
  height: 20px;
}

.heart:nth-child(2) {
  left: 52%;
  animation-delay: 2s;
  animation-duration: 7s;
  width: 14px;
  height: 20px;
}

.heart:nth-child(3) {
  left: 58%;
  animation-delay: 5s;
  animation-duration: 5s;
  width: 20px;
  height: 13px;
}

.heart:nth-child(4) {
  left: 85%;
  animation-delay: 3s;
  animation-duration: 8s;
  width: 18px;
  height: 16px;
}

.heart:nth-child(5) {
  left: 34%;
  animation-delay: 3s;
  animation-duration: 8s;
  width: 19px;
  height: 16px;
}

.heart:nth-child(6) {
  left: 99%;
  animation-delay: 4s;
  animation-duration: 6s;
  width: 18px;
  height: 15px;
}

.heart:nth-child(7) {
  left: 64%;
  animation-delay: 5s;
  animation-duration: 6s;
  width: 15px;
  height: 13px;
}

.heart:nth-child(8) {
  left: 76%;
  animation-delay: 3s;
  animation-duration: 8s;
  width: 11px;
  height: 14px;
}

.heart:nth-child(9) {
  left: 50%;
  animation-delay: 1s;
  animation-duration: 8s;
  width: 20px;
  height: 12px;
}

.heart:nth-child(10) {
  left: 97%;
  animation-delay: 3s;
  animation-duration: 7s;
  width: 13px;
  height: 17px;
}

.heart:nth-child(11) {
  left: 45%;
  animation-delay: 2s;
  animation-duration: 6s;
  width: 16px;
  height: 17px;
}

.heart:nth-child(12) {
  left: 92%;
  animation-delay: 2s;
  animation-duration: 5s;
  width: 18px;
  height: 17px;
}

.heart:nth-child(13) {
  left: 77%;
  animation-delay: 1s;
  animation-duration: 6s;
  width: 18px;
  height: 13px;
}

.heart:nth-child(14) {
  left: 52%;
  animation-delay: 4s;
  animation-duration: 5s;
  width: 15px;
  height: 18px;
}

.heart:nth-child(15) {
  left: 53%;
  animation-delay: 3s;
  animation-duration: 6s;
  width: 18px;
  height: 18px;
}

.heart:nth-child(16) {
  left: 11%;
  animation-delay: 2s;
  animation-duration: 5s;
  width: 16px;
  height: 19px;
}

.heart:nth-child(17) {
  left: 54%;
  animation-delay: 1s;
  animation-duration: 8s;
  width: 19px;
  height: 19px;
}

.heart:nth-child(18) {
  left: 20%;
  animation-delay: 5s;
  animation-duration: 8s;
  width: 11px;
  height: 18px;
}

.heart:nth-child(19) {
  left: 85%;
  animation-delay: 1s;
  animation-duration: 6s;
  width: 15px;
  height: 13px;
}

.heart:nth-child(20) {
  left: 42%;
  animation-delay: 5s;
  animation-duration: 8s;
  width: 13px;
  height: 13px;
}

/*# sourceMappingURL=main.css.map */
