@use "keyframes";
@use "global";
@use "background";
@use "buttons";
@use "colors";

main {
  border: 10px solid colors.$pink-dark;
  background-color: colors.$pink-lightest;
  width: 30%;
  height: auto;
  box-shadow: -10px 10px 0px colors.$pink-darkest;
  box-sizing: border-box;
}

.page {
  height: auto;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  display: none;

  &:first-child {
    display: flex;
  }
}

img[alt="cat-angry"] {
  display: none; /* Hide angry cat initially */
}

#valentines-text-angry {
  display: none;
}

@media (max-width: 860px) {
  main {
    height: auto;
    width: 80%;
  }
}
